@model task_Creation_Model

@{
    ViewData["Title"] = "Task Update Page";
}

<div class="col-md-4">
    <div class="mb-3">
        <h2 class="text-primary">Task Update Page</h2>
        <hr />
    </div>

    <form asp-action="task_Update_Page" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <input type="hidden" asp-for="Task.TaskId" />
        </div>
        <div class="form-group">
            <label asp-for="Task.TaskDescription" class="control-label">Task Description</label>
            <select asp-for="Task.TaskDescription" class="form-control" required>
                <option value="">--Select Option--</option>
                <option value="Irrigation">Irrigation</option>
                <option value="Fertilization">Fertilization</option>
                <option value="Pruning">Pruning</option>
                <option value="Pest and disease management">Pest and disease management</option>
                <option value="Thinning">Thinning</option>
                <option value="Harvesting">Harvesting</option>
                <option value="Sorting and grading">Sorting and grading</option>
                <option value="Packing and storage">Packing and storage</option>
            </select>
            <span asp-validation-for="Task.TaskDescription" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Task.TaskProject" class="control-label">Project</label>
            <select asp-for="Task.TaskProject" class="form-control"
                    asp-items="@(new SelectList(Model.Projects, "ProjectId", "ProjectName"))">
            </select>
        </div>
        <div class="form-group">
            <label asp-for="Task.TaskField" class="control-label">Field</label>
            <select asp-for="Task.TaskField" class="form-control"
                    asp-items="@(new SelectList(Model.Fields, "FieldId", "FieldName"))">
            </select>
        </div>
        <div class="form-group">
            <label asp-for="Task.TaskPlant" class="control-label">Plant</label>
            <select asp-for="Task.TaskPlant" class="form-control"
                    asp-items="@(new SelectList(Model.Plants, "PlantId", "PlantName"))">
            </select>
        </div>
        <div class="form-group">
            <label asp-for="Task.TaskStatus" class="control-label">Task Status</label>
            <select asp-for="Task.TaskStatus" class="form-control" required>
                <option value="">--Select Option--</option>
                <option value="In Progress">In Progress</option>
                <option value="Completed">Completed</option>
            </select>
            <span asp-validation-for="Task.TaskStatus" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Task.EmployeeIncharge" class="control-label">Employee Incharge</label>
            <select asp-for="Task.EmployeeIncharge" class="form-control"
                    asp-items="@(new SelectList(Model.Employees, "EmployeeId", "EmployeeId"))">
            </select>
        </div>
        <div class="form-group">
            <label asp-for="Task.AdminAssigned" class="control-label">Admin Assigned</label>
            <select asp-for="Task.AdminAssigned" class="form-control"
                    asp-items="@(new SelectList(Model.Admins, "AdminId", "AdminId"))">
            </select>
        </div>
        <div class="form-group">
            <input type="hidden" asp-for="Task.TaskCreateTime" />
        </div>
        <div class="form-group">
            <input type="hidden" asp-for="Task.TaskUpdateTime" />
        </div>
        <button type="submit" class="btn btn-primary" onclick="return confirm('Are you sure you want to update task?')">Update Task</button>
        <a asp-controller="Task" asp-action="task_Information_Page" class="btn btn-primary">Back To Tasks List</a>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}